<div class="container d-flex justify-content-center align-items-center ">
  <div class="text-center bg-body-tertiary p-5 rounded-4 shadow welcome-box">
    <h1 class="display-5 fw-semibold mb-4 text-primary-emphasis">
      Seja bem-vindo ao <span class="text-decoration-underline">To-Do List!</span>
    </h1>
    <p class="lead text-body">Aqui você pode gerenciar suas tarefas de forma simples e eficiente.</p>
    <p class="lead text-body"><span class="text-decoration-underline">Use o menu acima para navegar</span> e comece a adicionar suas tarefas.</p>
    <p class="lead text-body"><span class="text-decoration-underline">Seu APP responsivo ajustando-se a qualquer resolução de tela</span></p>
    <a class="btn btn-primary btn-lg mt-4 shadow-sm" href="./to-do-list">
      👉 Começar agora
    </a>
  </div>
</div>

